// Tried to write this in Boostrap-inspired largely atomic css
// Jacob Brady

// Doc Order
// --------------------------
// @, sass stuff (random)
// elements   (alphabetical)
// id         (alphabetical)
// classes    (alphabetical)

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');

$bs-md-breakpoint: 768px;
$iport-gray: #7f7f7f;
$iport-purple: #623FD6;
$focus-gray: #F7F7F7;
$footer-gray: #f3f3f3;

$footer-bar-height: 50px;
$ship-height: 59px;

@media (min-width: $bs-md-breakpoint) {
  .border-md-left-purple {
    border-width: 0 0 0 0.095rem;
    border-style: solid;
    border-color: $iport-purple;
  }
  .border-md-none {
    border-style: none !important;
  }
}

// for sticky footer
body {
  margin-bottom: $footer-bar-height + $ship-height;
}

// for sticky footer
html {
  position: relative;
  min-height: 100%;
}

nav {
  @extend .anchor-plain
}

#content {
  font-size: 15px;
}

#first-product-header {
  @extend .rounded-top-custom
}

#footer-content {
  height: $footer-bar-height;
  background-color: $footer-gray;
  line-height: $footer-bar-height;
}

#home-box {
  font-size: 1rem;
}

#last-product-body, #last-product-header {
  @extend .rounded-bottom-custom
}

#products-list .card {
  border: 0;
}

#ship-svg {
  height: $ship-height;
}

.anchor-plain {
  a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
  }
}

.border-left-purple {
  border-width: 0 0 0 0.095rem;
  border-style: solid;
  border-color: $iport-purple;
}

.border-purple {
  border-width: 0.095rem;
  border-style: solid;
  border-color: $iport-purple;
}

.border-purple-light {
  border-width: 0.09rem;
  border-style: solid;
  border-color: $iport-purple;
}

.font-weight-medium {
  font-weight: 400;
}

.footer {
  font-weight: 300;
  font-size: 0.84rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: $footer-bar-height + $ship-height;
}

.footer-text {
  width: 115px; // to center text of varying length on either side of IP svg
}

.list-group-item {
  border-color: #d0d0d0;
}

.ofl-fix { // fixes issue with li and p border overlapping floating images
  overflow: hidden;
}

.navbar-nav {
  .nav-active {
    color: $iport-purple;
    font-weight: 400;
  }
  a::after { // prevents changing font-weight from changing container width
    display: block;
    content: attr(data-text);
    font-weight: 400;
    height: 0;
    visibility: hidden;
  }
}

.product-body-mid.list-group-item {
  border-radius: 0;
  border-bottom: 0;
}

.product-header.list-group-item {
  border-radius: 0;
}

.product-header {
  &:visited, &:link {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    background-color: $focus-gray;
  }
  h6 {
    font-weight: 300;
  }
  padding: 1.25rem;
}

.product-selected {
  background-color: $focus-gray;
  //border-color: $iport-purple;
}

.product-title {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}

.rounded-custom {
  border-radius: 10px;
}

.rounded-bottom-custom {
  border-radius: 0 0 10px 10px;
}

.rounded-top-custom {
  border-radius: 10px 10px 0 0;
}

.text-gray {
  color: $iport-gray;
}

.text-purple {
  color: $iport-purple;
}

.text-roboto {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
