// Tried to write this in Boostrap-inspired atomic css
// Jacob Brady

// Doc Order
// --------------------------
// Sass stuff (random)
// elements   (alphabetical)
// classes    (alphabetical)
// id         (alphabetical)

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');

$iport-gray: #7f7f7f;
$iport-purple: #623FD6;
$focus-gray: #F8F9FA;

@mixin placeholder {
  ::-webkit-input-placeholder {@content;}
  :-moz-placeholder           {@content;}
  ::-moz-placeholder          {@content;}
  :-ms-input-placeholder      {@content;}
}

@include placeholder {font-weight:300;} // form placeholder matches doc weight

nav {
  @extend .anchor-plain
}

.anchor-plain {
  a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
  }
}

.border-purple {
  border-width: 0.095rem;
  border-style: solid;
  border-color: $iport-purple;
}

.border-purple-light {
  border-width: 0.09rem;
  border-style: solid;
  border-color: $iport-purple;
}

.border-left-purple {
  border-width: 0 0 0 0.095rem;
  border-style: solid;
  border-color: $iport-purple;
}

.font-weight-medium {
  font-weight: 400;
}

.product-header {
  &:hover {
    background-color: $focus-gray;
  }
  &:active {
    background-color: #ededed; // darken on click instant
  }
}

.navbar-nav {
  .nav-active {
    color: $iport-purple;
    font-weight: 400;
  }
  a::after { // prevents changing font-weight from changing container width
    display: block;
    content: attr(data-text);
    font-weight: 400;
    height: 0;
    visibility: hidden;
  }
}

.product-body-mid.list-group-item {
  border-radius: 0;
  border-bottom: 0;
}

.product-header.list-group-item {
  border-radius: 0;
}

.product-header {
  &:hover, &:visited, &:link {
    text-decoration: none;
    color: inherit;
  }
}

.product-selected {
  background-color: $focus-gray;
  font-weight: 400;
}

.rounded-custom {
  border-radius: 10px;
}

.rounded-bottom-custom {
  border-radius: 0 0 10px 10px;
}

.rounded-top-custom {
  border-radius: 10px 10px 0 0;
}

.text-gray {
  color: $iport-gray;
}

.text-purple {
  color: $iport-purple;
}

.text-roboto {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#first-product-header {
  @extend .rounded-top-custom
}

#last-product-body, #last-product-header {
  @extend .rounded-bottom-custom
}

#products-list .card {
  border: 0;
}
